[run]
source = tateyomi
omit =
    tateyomi/gui.py
    tests/*
    scripts/*
    setup.py

[report]
show_missing = true
skip_covered = false
precision = 1
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.
    pass

[html]
directory = htmlcov

[xml]
output = coverage.xml
